body{
font-family:Arial;
margin:0;
background:#f5f5f5;
}

.sidebar{
width:220px;
height:100vh;
background:#111;
color:white;
position:fixed;
}

.main{
margin-left:220px;
padding:20px;
}

.card{
background:white;
padding:20px;
margin:10px;
display:inline-block;
width:200px;
box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

#map{
height:500px;
margin-top:20px;
}
